<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./css/style-login.css">


  <title>Document</title>
</head>

<body>
  <h1 id="titulo">Estrena</h1>
  <form class="form-login">
    <label for="login">Login: </label>
    <input class="input-login" id="userName" type="text">
    <label for="contraseña">Contraseña</label>
    <input class="input-login" id="contraseña" type="password">
    <div class="input-login-recuerdame">
      <label for="recuerdam">Recuerdame</label>
      <input id="recuerdame" type="checkbox">
    </div>
    <button onclick="login()" id="login-button">Entrar</button>
  </form>
  <script src="./app.js"></script>
</body>

</html>