<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style-registro.css">
  <title>Registrarse</title>
</head>

<body>
  <header>

  </header>
  <main>


    <form action="/login" method="post">
      <div class="contenedorRegistro">

        <h1 class="titulo">Logueo</h1>

        <label for="mail">E-mail</label>
        <input type="email" name="mail" id="mail" placeholder="Mail" required>

        <label for="contrasenia">Contraeña</label>
        <input type="password" name="contrasenia" id="contrasenia" placeholder="Contraeña" required>

        <button type="submit" class="cuenta">Ingresar</button>
        <button type="reset" class="cuenta">Cancelar</button>

        <p>O Ingresar con: </p>

        <button type="submit" class="redes">Facebook</button>
        <button type="submit" class="redes">Google</button>
        <button type="submit" class="redes">Twitter</button>


      </div>
    </form>


  </main>
</body>

</html>