<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estrena</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <section>
            <div>
                <h2>Carrito de Compras</h2>
            </div>
            <div class="logo">
                <img src="" alt="Logo de Estrena">
            </div>
        </section>
    </header>
    <main>
        <section class="purchase_detail">
            <div>
                <h3>Tu Orden</h3>
                <img src="" alt="Imagen del producto" class="product_img">
                <p>Descripción</p>
                <i class="fa-solid fa-plus"></i>
                <p>Cantidad</p>
                <i class="fa-solid fa-minus"></i>
            </div>
        </section>
        <section class="purchase_values">
            <div>
                <p>Subtotal</p>
                <p>Vlr Subtotal</p>
                <p>Taxes</p>
                <p>Vlr Taxes</p>
                <p>Total</p>
                <p>Vlr Total</p>
            </div>
        </section>
        <section class="purchase_buttons">
            <div>
                <button type="submit" class="enviar">Pagar ahora</button>
                <button type="reset" class="borrar">Seguir comprando</button>
            </div>
        </section>

    </main>

    <footer>
    </footer>

</body>

</html>